
  <h1>BitFx</h1>

  <h2>
  	This is the home page for the RIA Project of Karen Rooney, Mark Ryder and Shane Arrowsmith.
  </h2>

  <div id="ac-wrapper" class="ac-wrapper">
    <div class="ac-device">
	  <a href="#"><%= image_tag("bitcoinlarge.jpg", :onClick => "AppShowcase.init();") %></a> 
	  <h3 class="ac-title">Click on image to see more</h3>
	</div>

	<div class="ac-grid">
		<a href="#" class="background-image1"></a>
		<a href="#" class="background-image2"></a>
		<a href="#" class="background-image3"></a>
				
	</div>
	
</div><!-- ac-wrapper -->


 




  